---
const { message, code } = Astro.props;
---

<div class="container m-auto flex flex-col justify-center items-center gap-3">
  <h1>Something wrong happened :/</h1>
  <h2>{code} - {message}</h2>
  <img
    src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExYmdteHE0eTBzeDI3OWdtc3Buank3OGN6OTM1c3ByYjVwZ21pbzdsaiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/KBYyUGgDEsILK/giphy.webp"
    alt="John travolta lost gif"
  />
</div>
