---
import Layout from "../layouts/Layout.astro"
import Keyboard from "../components/Keyboard.astro"
import WordDisplay from "../components/WordDisplay.astro"

import HangoIcon from "../components/icons/Hango.astro"

---

<Layout>
    <div class="flex flex-col gap-6 w-fit m-auto p-5 rounded-md bg-white/60 justify-center items-center">
        
        <HangoIcon class="size-56" />

        <WordDisplay />

        <Keyboard />
        
    </div>
</Layout>