---
import Layout from "../layouts/Layout.astro"
import GameComponent from "../components/GameComponent.jsx"

import {newGame} from "../api/Hangman.api.ts"

export const prerender = false // Server rendering is enabled

const gameData =  await newGame()

---

<Layout>
    <div class="flex w-fit m-auto p-5 rounded-md bg-white/60 justify-center items-center">
        <GameComponent gameData={gameData} client:visible />
    </div>
</Layout>