---
import Baselines from "./icons/Baselines.astro";
import Settings from "./icons/Settings.astro";
---

<div class="flex px-5 pb-2 justify-between m-auto my-5 items-baseline border-b-2 border-b-white/50">
  <div>
    <Baselines class="size-[40px]" />
  </div>

  <div><h1 class="text-6xl justify-center font-bold">Hango</h1></div>

  <div>
    <!-- <Volume class="size-[40px]" /> -->
    <Settings class="size-[40px]" />
  </div>

</div>
