<div class="container w-auto justify-center items-center">
    <div class="m-auto w-max flex flex-col justify-center">
        <h1 class="m-auto">Welcome to Hango!</h1>
        <p>A fun hangman game where you can play single or with friends. Please, choose and option</p>
        <button>Singleplayer</button>
        <button>Multiplayer</button>
    </div>
</div>