---
import HangoLogo from "./icons/Hango.astro";
---

<div
  class="m-auto w-[40vw] flex flex-col gap-4 items-center text-black/70 bg-white/60 rounded-md py-10 px-8 mt-[10vh]"
>
  <h2 class="font-medium">Welcome to Hango!</h2>

  <HangoLogo class="my-5 size-[150px]" />

  <p class="text-center">
    A fun hangman game where you can play single or with friends. Please, choose
    and option
  </p>

  <div class="flex items-center justify-center gap-6 mt-5">
    <a
      href="/singleplayer"
      class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-8 rounded"
      >Singleplayer</a
    >
    <a
      href="/multiplayer"
      class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-8 rounded"
      >Multiplayer</a
    >
  </div>
</div>
